{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true
        }
      }
    ],
    "@babel/preset-react"
    // "@babel/preset-stage-2",
  ],
  "plugins": ["transform-class-properties"]
}
